.header {
  background-color: CornflowerBlue;
  text-align: center;
  padding: 10px 10px 2px 10px;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
}

.title {
  font-weight: bold;
}

h1 {
  color: Azure;
}

body {
  font: 16px Georgia, serif;
  background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

h2 {
  color: DarkSlateGray;
  font-family: Georgia;
}
