html {
    background-color: #457550;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 10%;
    display: block;
}

.bold.work-sans {
    font-family: 'Work Sans', sans-serif;
    display: block;
    font-weight: bold;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #92E8A5;
}

/* #a2a2a6 */
.container {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

h2 {
    color: #92E8A5;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.colors-heading {
    color: #F54305;
}
.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.fonts {
    background-color: #76AB9F;
    border-color: #76AB9F;
}

.color-panel {
    flex-grow: 1;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    min-height: 90px;
    font-weight: bold;
}

/*
.color-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1em;
}
*/

.gir-green {
    background-color: #92E8A5;
}

.burnt-creamsicle {
    background-color: #F59725;
}

.retro-future {
    background-color: #16F5C5;
}

.charmeleon {
    background-color: #F54305;
}

.blue-gray-moss {
    background-color: #76AB9F;
}

.evergreen {
    background-color: #457550;
}

.white {
    color: #fff;
}

/* display: inline-block;
flex-grow: 1;
    flex-basis: 200;
    width: 100%;
    */

div {
    display: block;
}

.color-label {
    padding: 5px;
}
